
* {
   background-color: #000000;
}
.dashboard {
    background-image: url('assets/dashboard.svg');
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    padding: 10%;
}

h1 {
   display: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
